<mat-card [formGroup]="employeeForm" class="main-form">
    <mat-card-title style="background-color:#173887">
        <mat-icon style="color: white;">person</mat-icon>
       <span style="color:white">Nouveau Employé</span> 
    </mat-card-title>
    <mat-card class="form-card">
        <mat-card-subtitle>Informations personnelles</mat-card-subtitle>
        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>Prénom</mat-label>
                <input type="text" matInput formControlName="firstName">
                <mat-error>Ce champ est requis</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input type="text" matInput formControlName="lastName">
                <mat-error>Ce champ est requis</mat-error>
            </mat-form-field>
        </div>
    </mat-card>
    
    <mat-card class="form-card">
        <mat-card-subtitle>Date de Naissance</mat-card-subtitle>
        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>Date de Naissance</mat-label>
                <input type="date" matInput formControlName="birthday">
                <!-- <mat-error>{{ getFormControlErrorText(emailCtrl) }}</mat-error> -->
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Département</mat-label>
                <mat-select formControlName="departmentId">
                    <mat-option value="">Sélectionner un élément</mat-option>
                    <mat-option *ngFor="let dep of datadeps" [value]="dep?.id">{{ dep?.name }}</mat-option>
                    
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field appearance="fill">
                <mat-label>Confirmer votre adresse mail</mat-label>
                <input type="text" matInput formControlName="confirm">
                <mat-error>{{ getFormControlErrorText(confirmEmailCtrl) }}</mat-error>
            </mat-form-field> -->
        </div>
        <!-- <small class="error-text" *ngIf="showEmailError$ | async"> Les deux emails ne correspondent pas</small> -->
    </mat-card>

    <mat-card class="form-card">
        <mat-card-subtitle>Type de l'employé</mat-card-subtitle>
        <div class="form-row">
            <mat-form-field appearance="outline">    
                <mat-label>Type</mat-label>
                    <mat-select formControlName="employeeType">
                        <mat-option value="">Sélectionner un élément</mat-option>
                        <mat-option *ngFor="let ls of employeeTypes" [value]="ls?.key">{{ ls?.value }}</mat-option>
                    </mat-select>
            </mat-form-field>
            <!-- <mat-form-field appearance="fill">
                <mat-label>Confirmer votre adresse mail</mat-label>
                <input type="text" matInput formControlName="confirm">
                <mat-error>{{ getFormControlErrorText(confirmEmailCtrl) }}</mat-error>
            </mat-form-field> -->
        </div>
        <!-- <small class="error-text" *ngIf="showEmailError$ | async"> Les deux emails ne correspondent pas</small> -->
    </mat-card>


    <!-- <mat-card class="form-card" *ngIf="showPhoneCtrl$ | async">
        <mat-card-subtitle>Téléphone</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <mat-label>Numéro de téléphone</mat-label>
            <input type="text" matInput [formControl]="phoneCtrl">
            <mat-error>{{ getFormControlErrorText(phoneCtrl) }}</mat-error>
        </mat-form-field>
    </mat-card> -->
    <!-- <mat-card class="form-card" [formGroup]="loginInfoForm">
        <mat-card-subtitle>Informations de connexion</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <mat-label>Nom d'utilisateur</mat-label>
            <input type="text" matInput formControlName="username">
            <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <div class="form-row">
            <mat-form-field appearance="fill">
                <mat-label>Mot de passe</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error>Ce champ est requis</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirmer votre mot de passe</mat-label>
                <input type="password" matInput formControlName="confirmPassword">
                <mat-error>Ce champ est requis</mat-error>
            </mat-form-field>
        </div>
         <small class="error-text" *ngIf="showPasswordError$ | async">Les mot de passe ne correspondent pas</small>
    </mat-card> -->
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="onSubmitForm()">ENREGISTRER</button>
        &nbsp; &nbsp; &nbsp;
        <button mat-flat-button color="warn" (click)="close()">ANNULER</button>
    </mat-card-actions>

    <div>

    </div>
    <!-- <mat-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-spinner> -->